@font-face {
    font-family: "Beau Sans Pro"; 
    src: url(../fonts/Beau Sans Pro/PFBeauSansPro-SeBold.ttf);
}

html,body {
	font-family: "Beau Sans Pro"; 
	margin: 0;
	width: 100%;
}

header {
	background: #fcfcfc;
	padding: 10px;
}

.header_page {
	display: flex;
	box-sizing: border-box;
}

.fl {
	flex-wrap:nowrap;
}

.fl .block {
	width: 50%;
}

.bunner span {
	color: #ffc000;
	font-size: 28px;	
}

.bunner p {
	color: #000000;
	font-size: 12px;
}

.bunner {
	font-family: "Beau Sans Pro"; 
	text-transform: uppercase;
	font-weight: bold;
	line-height: 0.5;
	text-align: right;
	padding-top: 10px;
}

.logo_img {
	padding-left: 5px;
}


.link { 
	text-align: left;
}

ul.hr {
    margin: 0;
}

ul.hr li {
   display: inline;  
}

ul.hr li a {
	text-decoration: none;
	border-right: 2px solid #eae2df;
	padding-right: 10px;
	padding-left: 10px;
	color: #000000;
	font-size: 15px;
	text-align: center;
}

ul.hr li a:hover {
	color: #ffc000;
}

.number li {
	list-style-type: none;
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
}


.number li a {
	text-decoration: none;
	color: #000000;
}

.number li a:hover {
	color: #ffc000;
}

footer {
	background: url(images/footer_img_1.jpg);
}